<header class="header">
  <img src="/assets/スクリーンショット 2022-04-17 19.06.44.png" alt="">
</header>


<h2>ツイートを投稿する</h2>

  <%= render 'form' %>

  <footer class="footer">
<p>ツイッター 2022.04.18</p>
 </footer>
