

body {
  width: 980px;
  margin: 0 auto;
  background-color: #C0C0C0;
}

header {
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2px 40px;
    background: #00FFFF;
    box-sizing: border-box;
    font-size: 40px;
  }

.logo {
    width: 50px;
    margin: 0;
}



footer {
  background-color: #808080;
  width: 100%;
    color: #fff;
    text-align: center;
    padding: 30px 0;

    position: absolute;
    bottom: 0;
}
